[% USE HTML %]
[% META title = 'Create an experiment' %]

[% IF error %]
<p class="error">
[% HTML.escape(error) %]
</p>
[% END %]
<form method="post" action="[% c.uri_for('/newexperiment') %]">
<table>
<tr>
<th>Experiment name:</th><td><input type="text" name="name" size="20" /></td>
</tr>
<tr>
<td colspan="2"><input type="submit" name="submit" value="Create account" /></td>
</tr>
</table>
</form>