<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
[%# <?xml version="1.0" encoding="UTF-8"?>%]
[% USE Filter.Minify.CSS %]
[% USE Filter.Minify.JavaScript %]
[% CSS_FILTER = c.debug ? "repeat" : "minify_css" %]
[% JS_FILTER = c.debug ? "repeat" : "minify_js" %]

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */ BASE_URI="[% c.uri_for('/') %]";[% IF experiment %]EXPERIMENT="[% experiment %]";[% END %] /* ]]> */</script>
[% FOREACH f IN template.external_js_scripts.split('\s+') %]
<script type="text/javascript" src="[% c.uri_for(f) %]"></script>
[% END %]
[% FOREACH f IN template.external_css_files.split('\s+') %]
<link rel="stylesheet" type="text/css" href="[% c.uri_for(f) %]"></style>
[% END %]
<script type="text/javascript">
/* <![CDATA[ */
[% FILTER $JS_FILTER(1) %]
[% INSERT common.js %]
[% END %]
/* ]]> */
</script>
[% FOREACH f IN template.js_scripts.split('\s+') %]
<script type="text/javascript">
/* <![CDATA[ */
[% FILTER $JS_FILTER(1) %]
[% INSERT $f %]
[% END %]
/* ]]> */
</script>
[% END %]
<style type="text/css">
/* <![CDATA[ */
[% FILTER $CSS_FILTER(1) %]
[% BASE_URI = c.uri_for('/') %]
[% PROCESS main.css.tt %]
[% END %]
/* ]]> */
</style>
[% IF IS_IE %]
<!--[if IE]>
<style type="text/css">
/* <![CDATA[ */
[% FILTER $CSS_FILTER(1) %]
[% BASE_URO = c.uri_for('/') %]
[% PROCESS main_iehacks.css.tt %]
[% END %]
/* ]]> */
</style>
<![endif]-->
[% END %]
<title>Ibex farm [% template.title or '' %]</title>
</head>
<body>

<div id="outer1">
<div id="outer2">

<h1>Ibex Farm</h1>

<div id="login_info">

<a href="[% c.uri_for("/") %]">home</a>
[% IF ! c.user_exists %] | <a href="[% c.uri_for("/login") %]">login</a>
|
<a href="[% c.uri_for("/newaccount") %]">create an account</a>
[% END %] |
<a rel="external" href="http://code.google.com/p/webspr/wiki/Documentation03">ibex docs</a> (<a href="http://spellout.net/latest_ibex_manual.pdf">pdf</a>)
[% IF c.user_exists %]
<p>
You are logged in as <a id="username" href="[% c.uri_for("/myaccount") %]">[% c.user.username %]</a> (<a href="[% c.uri_for("/logout") %]">logout</a>).
</p>
[% END %]
</div>
[% content %]

</div> [%# outer2 %]
</div> [%# outer1 %]
</body>
</html>
